@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./reset.css');

html {
  overflow: hidden !important;
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  user-select: none;
}

.no-select {
  user-select: none;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ul:not([class]),
ol:not([class]) {
  padding-left: 20px;
  margin-bottom: 16px;
}
